<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interest.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @interest.user_id %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @interest.detail %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
