<%= form_for(@user_homework) do |f| %>
  <% if @user_homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_homework.errors.count, "error") %> prohibited this user_homework from being saved:</h2>

      <ul>
      <% @user_homework.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :homework_id %><br>
    <%= f.number_field :homework_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
