<p id="notice"><%= notice %></p>

<h1>Listing User Homeworks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Homework</th>
      <th>Status</th>
      <th>Grade</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_homeworks.each do |user_homework| %>
      <tr>
        <td><%= user_homework.user_id %></td>
        <td><%= user_homework.homework_id %></td>
        <td><%= user_homework.status %></td>
        <td><%= user_homework.grade %></td>
        <td><%= user_homework.comment %></td>
        <td><%= link_to 'Show', user_homework %></td>
        <td><%= link_to 'Edit', edit_user_homework_path(user_homework) %></td>
        <td><%= link_to 'Destroy', user_homework, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User homework', new_user_homework_path %>
