<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @plan.user_id %>
</p>

<p>
  <strong>Term:</strong>
  <%= @plan.term %>
</p>

<p>
  <strong>Estimated time:</strong>
  <%= @plan.estimated_time %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
